.listings>thead>tr>th {
    text-align: center;

}

.listings>thead>tr {
    background-color: lightskyblue;
}

.listings>tbody>tr>td {
    text-align: center;
}

nav,
footer {
    background-color: lightskyblue;
}

body {
    margin-bottom: 50px;
}

h1 {
    margin-top: 2rem;
}

#carForm {
    border: 2px solid orange;
    padding: 2rem;
    box-shadow: 5px 5px lightskyblue;
}

#helloWorld {
    color: orange;
}